body,
button,
input {
  font-size: 20px;
}

input {
  display: inline-block;
}

/* .inputRow {
  padding: 10px;
}

.inputRow:nth-child(2n) {
  margin-bottom: 10px;
}

.teamRowTop,
.teamRowBottom {
  background-color: #ddd;
  padding: 20px;
}

.teamRowBottom {
  margin-bottom: 20px;
  padding-top: 0;
} */
